<div class="center" 
>
<!--l. 19--><p class="noindent" >
</p><!--l. 20--><p class="noindent" ><span 
class="pplb9o-x-x-172">Patrick A. Fletcher</span><br />
Laboratory of Biological Modeling<br />
NIDDK, National Institutes of Health<br />
Bethesda, MD 20892<br />
E-mail: patrick.ﬂetcher@nih.gov<br />
Phone: (850) 980-5088<br /><br />
</p>
</div>
   <h3 class="likesectionHead"><a 
 id="x1-1000"></a>Education</h3>
<!--l. 53--><p class="noindent" >
</p><dl class="list1"><dt class="list">
</dt><dd 
class="list">
<!--l. 54--><p class="noindent" ><span 
class="pplb9o-x-x-120">Ph.D,  Mathematics  (Biomathematics)</span>,  August  2015.  Florida  State  University,  Tallahassee,
Florida,  USA.  Dissertation  title:  <span 
class="pplri9o-x-x-120">Theoretical,  Computational,  and  Experimental  Topics  in  Anterior</span>
<span 
class="pplri9o-x-x-120">Pituitary Cell Signaling</span>
</p></dd><dt class="list">
</dt><dd 
class="list">
<!--l. 55--><p class="noindent" ><span 
class="pplb9o-x-x-120">M.Sc, Mathematics (Mathematical Biology)</span>, November 2008. University of British Columbia,
Vancouver,  Canada.  Thesis  title:  <span 
class="pplri9o-x-x-120">Modeling  electrical  spiking,  bursting  and  calcium  dynamics  in</span>
<span 
class="pplri9o-x-x-120">gonadotropin releasing hormone (GnRH) secreting neurons</span>
</p></dd><dt class="list">
</dt><dd 
class="list">
<!--l. 56--><p class="noindent" ><span 
class="pplb9o-x-x-120">B.S,  Integrated  Sciences  (Mathematics  and  Biology)</span>,  May  2005.  University  of  British
Columbia, Vancouver, Canada.</p></dd></dl>
<!--l. 59--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-2000"></a>Published Articles</h3>
<!--l. 61--><p class="noindent" >
      </p><ol  class="enumerate1" >
      <li 
  class="enumerate" id="x1-2002x1"><span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, and Stojilkovic, Stanko S. and Sherman, Arthur. 2018. <span 
class="pplri9o-x-x-120">Common and diverse</span>
      <span 
class="pplri9o-x-x-120">elements of ion channels and receptors underlying electrical activity in endocrine pituitary cells</span>.
      Mol. Cell. Endocrinol. 463, 23–36.
      </li>
      <li 
  class="enumerate" id="x1-2004x2"><span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, and Zemkova, Hana and Stojilkovic, Stanko S. and Sherman, Arthur. 2017.
      <span 
class="pplri9o-x-x-120">Modeling the diversity of spontaneous and agonist-induced electrical activity in anterior pituitary</span>
      <span 
class="pplri9o-x-x-120">corticotrophs</span>. J. Neurophysiol. 117(6), 2298–2311
      </li>
      <li 
  class="enumerate" id="x1-2006x3"><span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, and Bertram, Richard and Tabak, Joel. 2016. <span 
class="pplri9o-x-x-120">From global to local: exploring</span>
      <span 
class="pplri9o-x-x-120">the relationship between parameters and behaviors in models of electrical excitability</span>. J. Comput.
      Neurosci. 40(3), 331–345
      </li>
      <li 
  class="enumerate" id="x1-2008x4">A. E. Gonzalez-Iglesias, , <span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, J. A. Arias-Cristancho, R. Cristancho-Gordo, C. V.
      Helena, R. Bertram, and J. Tabak. 2015. <span 
class="pplri9o-x-x-120">Direct Stimulatory Eﬀects Of Oxytocin In Female Rat</span>
      <span 
class="pplri9o-x-x-120">Gonadotrophs And Somatotrophs In Vitro: Comparison To Lactotrophs</span>. Endocrinology 156(2),
      600–612
      </li>
      <li 
  class="enumerate" id="x1-2010x5"><span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, F. Clément, A. Vidal, J. Tabak, and R. Bertram. 2014. <span 
class="pplri9o-x-x-120">Interpreting Frequency</span>
      <span 
class="pplri9o-x-x-120">Responses to Dose-Conserved Pulsatile Input Signals in Simple Cell Signaling Motifs</span>. PLoS ONE
      9(4), e95613
      </li>
      <li 
  class="enumerate" id="x1-2012x6">M. N. Schulson, D. R. Scriven, <span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, and E. D. Moore. 2011. <span 
class="pplri9o-x-x-120">Couplons in rat atria</span>
      <span 
class="pplri9o-x-x-120">form distinct subgroups deﬁned by their molecular partners. </span>J. Cell Sci. 124(7), 1167–1174
      </li>
      <li 
  class="enumerate" id="x1-2014x7"><span 
class="pplb9o-x-x-120">P.  A.  Fletcher</span>,  D.  R.  Scriven,  M.  N.  Schulson,  and  E.  D.  Moore.  2010.  <span 
class="pplri9o-x-x-120">Multi-image</span>
      <span 
class="pplri9o-x-x-120">colocalization and its statistical signiﬁcance. </span>Biophys. J. 99(6), 1996–2005
      </li>
      <li 
  class="enumerate" id="x1-2016x8"><span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, and Y. X. Li. 2009. <span 
class="pplri9o-x-x-120">An integrated model of electrical spiking, bursting, and calcium</span>
      <span 
class="pplri9o-x-x-120">oscillations in GnRH neurons. </span>Biophys. J. 96(11), 4514–4524
      </li>
      <li 
  class="enumerate" id="x1-2018x9">M. W. Richter, <span 
class="pplb9o-x-x-120">P. A. Fletcher</span>, J. Liu, W. Tetzlaﬀ, and A. J. Roskams. 2005. <span 
class="pplri9o-x-x-120">Lamina propria</span>
      <span 
class="pplri9o-x-x-120">and olfactory bulb ensheathing cells exhibit diﬀerential integration and migration and promote</span>
      <span 
class="pplri9o-x-x-120">diﬀerential axon sprouting in the lesioned spinal cord. </span>J Neurosci 25(46), 10700-10711</li></ol>
<!--l. 82--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-3000"></a>Invited Presentations</h3>
<!--l. 84--><p class="noindent" >
      </p><ol  class="enumerate1" >
      <li 
  class="enumerate" id="x1-3002x1"><span 
class="pplri9o-x-x-120">Feature-Based  Parameter  Estimation  in  a  Model  of  Anterior  Pituitary  Cell  Electrical  Activity</span>
      SIAM Dynamical Systems, Snowbird UT, 2017.
      </li>
      <li 
  class="enumerate" id="x1-3004x2"><span 
class="pplri9o-x-x-120">Modeling electrical activity in pituitary coriticotrophs</span>. SIAM Life Sciences, Boston, MA, 2016.
      </li>
      <li 
  class="enumerate" id="x1-3006x3"><span 
class="pplri9o-x-x-120">Real-Time Model calibration and prediction testing in pituitary cells using GPU and dynamic</span>
      <span 
class="pplri9o-x-x-120">clamp</span>. SIAM Life Sciences, Charlotte, NC, 2014.
      </li>
      <li 
  class="enumerate" id="x1-3008x4"><span 
class="pplri9o-x-x-120">How  do  cells  detect  the  frequency  of  pulsatile  chemical  signals?  </span>SIAM  Dynamical  Systems,
      Snowbird UT, 2013.</li></ol>
<!--l. 95--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-4000"></a>Contributed Presentations</h3>
<!--l. 97--><p class="noindent" >
      </p><ol  class="enumerate1" >
      <li 
  class="enumerate" id="x1-4002x1"><span 
class="pplb9o-x-x-120">Talk: </span><span class="underline">P. A. Fletcher</span>. <span 
class="pplri9o-x-x-120">Real-Time Model calibration and prediction testing in pituitary cells using</span>
      <span 
class="pplri9o-x-x-120">GPU  and  dynamic  clamp</span>.  Frontiers  in  Applied  and  Computational  Mathematics,  NJIT,
      Newark, NJ, 2014.
      </li>
      <li 
  class="enumerate" id="x1-4004x2"><span 
class="pplb9o-x-x-120">Talk: </span><span class="underline">P. A. Fletcher</span>. <span 
class="pplri9o-x-x-120">Periodic forcing of simple models of cell signaling pathway components</span>. FSU
      biomathematics seminar, Tallahassee, Florida, 2012.
      </li>
      <li 
  class="enumerate" id="x1-4006x3"><span 
class="pplb9o-x-x-120">Talk: </span><span class="underline">P. A. Fletcher</span>. <span 
class="pplri9o-x-x-120">Modeling frequency-dependent FSH transcription and secretion</span>. Workshop
      in Mathematical Neuroendocrinology, INRIA, Paris, 2011.
      </li>
      <li 
  class="enumerate" id="x1-4008x4"><span 
class="pplb9o-x-x-120">Poster: </span><span class="underline">P. Fletcher</span>, David J. Lyons, Christian Broberger, Joel Tabak, R. Bertram. <span 
class="pplri9o-x-x-120">Modeling</span>
      <span 
class="pplri9o-x-x-120">electrophysiological responses to prolactin in the tuberoinfundibular dopaminergic neurons of the</span>
      <span 
class="pplri9o-x-x-120">arcuate nucleus</span>. Annual Meeting of the Society for Neuroscience, New Orleans, LA, 2012.
      </li>
      <li 
  class="enumerate" id="x1-4010x5"><span 
class="pplb9o-x-x-120">Poster: </span>A. M. Stathopoulos, C. V. Helena, <span class="underline">P. Fletcher</span>, R. Bertram. <span 
class="pplri9o-x-x-120">Acute eﬀects of vasoactive</span>
      <span 
class="pplri9o-x-x-120">intestinal polypeptide on prolactin release</span>. Annual Meeting of the Society for Neuroscience,
      Washington, DC, 2011.
      </li>
      <li 
  class="enumerate" id="x1-4012x6"><span 
class="pplb9o-x-x-120">Poster:  </span><span class="underline">P.  A.  Fletcher</span>,  N.  A.  Ciccone,  U.  B.  Kaiser,  R.  Bertram.  <span 
class="pplri9o-x-x-120">Frequency  response</span>
      <span 
class="pplri9o-x-x-120">of  gonadotropin-releasing  hormone-induced  follicle-stimulating  hormone  transcription</span>.  SIAM
      Conference on Applications of Dynamical Systems, Snowbird, Utah, 2011.
      </li>
      <li 
  class="enumerate" id="x1-4014x7"><span 
class="pplb9o-x-x-120">Poster:  </span>D.  R.  Scriven,  <span class="underline">P.  A.  Fletcher</span>,  J.  Busby,  S.  Sequeira,  E.  D.  Moore.  <span 
class="pplri9o-x-x-120">Multi-image</span>
      <span 
class="pplri9o-x-x-120">colocalization applied to the structure of the cardiomyocyte</span>. Biophysical Society Meeting, 2010.
      </li>
      <li 
  class="enumerate" id="x1-4016x8"><span 
class="pplb9o-x-x-120">Poster: </span><span class="underline">P. A. Fletcher</span> and Yue-Xian Li. <span 
class="pplri9o-x-x-120">Electrical activity, calcium dynamics, and autocrine</span>
      <span 
class="pplri9o-x-x-120">regulation in GnRH neurons</span>. Society for Mathematical Biology Annual Meeting, Vancouver,
      Canada, 2009.
      </li>
      <li 
  class="enumerate" id="x1-4018x9"><span 
class="pplb9o-x-x-120">Poster:  </span>A.  Yokoyama,  <span class="underline">P.  A.  Fletcher</span>,  Yue-Xian  Li.  <span 
class="pplri9o-x-x-120">Synchrony  and  rhythmogenesis  in</span>
      <span 
class="pplri9o-x-x-120">diﬀusely distributed endocrine neurons by a diﬀusive autocrine regulator</span>. SIAM Conference on
      Applications of Dynamical Systems, Snowbird, Utah, 2009.
      </li>
      <li 
  class="enumerate" id="x1-4020x10"><span 
class="pplb9o-x-x-120">Poster: </span><span class="underline">P. A. Fletcher</span> and Yue-Xian Li. <span 
class="pplri9o-x-x-120">Electrical activity, calcium dynamics, and autocrine</span>
      <span 
class="pplri9o-x-x-120">regulation  in  GnRH  neurons</span>.  SIAM  Conference  on  Applications  of  Dynamical  Systems,
      Snowbird, Utah, 2009.
      </li>
      <li 
  class="enumerate" id="x1-4022x11"><span 
class="pplb9o-x-x-120">Poster:  </span><span class="underline">P.  A.  Fletcher</span>,  D.  R.  Scriven  and  E.  D.  Moore.  <span 
class="pplri9o-x-x-120">Determining  the  signiﬁcance  of</span>
      <span 
class="pplri9o-x-x-120">colocalization in immunoﬂuorescence data. </span>Biophysical Society Meeting, 2009.
      </li>
      <li 
  class="enumerate" id="x1-4024x12"><span 
class="pplb9o-x-x-120">Poster: </span><span class="underline">P. A. Fletcher</span> and Yue-Xian Li. <span 
class="pplri9o-x-x-120">A minimal model of GnRH neuron electrical activity</span>.
      Rhythms in the Hypothalamus and Pituitary, Palo Alto, California, 2008.
      </li>
      <li 
  class="enumerate" id="x1-4026x13"><span 
class="pplb9o-x-x-120">Poster: </span>P. Asghari, <span class="underline">P. A. Fletcher</span>, D. R. Scriven and E. D. Moore. <span 
class="pplri9o-x-x-120">3D distribution of ryanodine</span>
      <span 
class="pplri9o-x-x-120">receptors in the heart. </span>Frontiers in Biophysics. Vancouver, Canada, 2008.</li></ol>
<!--l. 116--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-5000"></a>Experience</h3>
<!--l. 118--><p class="noindent" >
</p>
   <h4 class="likesubsectionHead"><a 
 id="x1-6000"></a>Postdoctoral Fellowship</h4>
<!--l. 119--><p class="noindent" >
      </p><dl class="list1"><dt class="list">
10/15–present: </dt><dd 
class="list">
      <!--l. 120--><p class="noindent" ><span 
class="pplb9o-x-x-120">Arthur Sherman</span> </p>
           <ul class="itemize1">
           <li class="itemize">Analysis of single-cell RNA sequencing data in anterior pituitary cells
           </li>
           <li class="itemize">Modeling electrical activity and response to hormones in pituitary cells
           </li>
           <li class="itemize">Development of numerical simulation tools for parallel computation using graphics
           processing units (GPUs)</li></ul>
      </dd></dl>
<!--l. 128--><p class="noindent" >
</p>
   <h4 class="likesubsectionHead"><a 
 id="x1-7000"></a>Research Assistantships</h4>
<!--l. 131--><p class="noindent" >
      </p><dl class="list1"><dt class="list">
01/11–08/15: </dt><dd 
class="list">
      <!--l. 132--><p class="noindent" ><span 
class="pplb9o-x-x-120">Richard Bertram</span> </p>
           <ul class="itemize1">
           <li class="itemize">Investigating  the  generation  and  decoding  of  pulsatile  hormone  patterns  using
           mathematical models
           </li>
           <li class="itemize">Performing calcium imaging experiments and mathematical modeling to study the
           response of pituitary cells to oxytocin
           </li>
           <li class="itemize">Developing  software  for  parallel  numerical  simulation  of  biophysical  models  of
           neuronal  activity  on  graphics  processing  units  (GPUs),  for  the  purpose  of  rapid
           model calibration and studying how features of model solutions depend on model
           parameters</li></ul>
      </dd><dt class="list">
02/12, 07/12: </dt><dd 
class="list">
      <!--l. 138--><p class="noindent" ><span 
class="pplb9o-x-x-120">Fr</span><span 
class="pplb9o-x-x-120">éd</span><span 
class="pplb9o-x-x-120">érique Cl</span><span 
class="pplb9o-x-x-120">ément </span>- INRIA Rocquencourt, France - Studied pulsatile forcing of non-linear
      systems inspired by intracellular signaling pathways
      </p></dd><dt class="list">
10/05–08/06, 10/08–08/09: </dt><dd 
class="list">
      <!--l. 139--><p class="noindent" ><span 
class="pplb9o-x-x-120">Ed Moore </span>- Quantiﬁed spatial patterning and its statistical signiﬁcance in ﬂuorescence
      microscopy images of signaling proteins involved in excitation-contraction coupling in cardiac
      myocytes.
      </p></dd><dt class="list">
05/08–08/09: </dt><dd 
class="list">
      <!--l. 140--><p class="noindent" ><span 
class="pplb9o-x-x-120">Yue-Xian Li </span>- Modeled electrical activities, calcium dynamics, and G-protein signaling of GnRH
      neurons and pituitary cells.
      </p></dd><dt class="list">
02/06–06/06: </dt><dd 
class="list">
      <!--l. 141--><p class="noindent" ><span 
class="pplb9o-x-x-120">Eric Cytrynbaum </span>- Compared a model of <span 
class="pplri9o-x-x-120">E. coli </span>cell division machinery to experimental
      data.
      </p></dd><dt class="list">
10/05–08/06: </dt><dd 
class="list">
      <!--l. 142--><p class="noindent" ><span 
class="pplb9o-x-x-120">Jane Roskams </span>- Quantiﬁed patterns of blood vessel growth and neurite outgrowth in
      ﬂuorescence microscopy images of spinal cord explants.</p></dd></dl>
<!--l. 145--><p class="noindent" >
</p>
   <h4 class="likesubsectionHead"><a 
 id="x1-8000"></a>Teaching Assistantships</h4>
<!--l. 147--><p class="noindent" >
      </p><dl class="list1"><dt class="list">
08/09–12/14: </dt><dd 
class="list">
      <!--l. 148--><p class="noindent" ><span 
class="pplb9o-x-x-120">Florida State University</span>, Department of Mathematics </p>
           <ul class="itemize1">
           <li class="itemize">Lecturer.  <span 
class="pplb9o-x-x-120">Courses  taught</span>:  Calculus  1  and  3,  Pre-calculus  algebra,  Biocalculus
           Laboratory
           </li>
           <li class="itemize">Teaching  assistant.  Supervised  computer  laboratories  in  Pre-calculus  algebra,  and
           trigonometry</li></ul>
      </dd><dt class="list">
09/06–05/08: </dt><dd 
class="list">
      <!--l. 153--><p class="noindent" ><span 
class="pplb9o-x-x-120">University of British Columbia</span>, Department of Mathematics - Tutored students, graded
      homework assignments.</p></dd></dl>
<!--l. 156--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-9000"></a>Awards</h3>
<!--l. 157--><p class="noindent" >
      </p><dl class="list1"><dt class="list">
04/14: </dt><dd 
class="list">
      <!--l. 158--><p class="noindent" >Distinguished Teaching Assistant award.</p></dd></dl>
<!--l. 161--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-10000"></a>Languages and Programming Skills</h3>
<!--l. 163--><p class="noindent" >
</p><dl class="list1"><dt class="list">
</dt><dd 
class="list">
<!--l. 164--><p class="noindent" >Bilingual: English and French.
</p></dd><dt class="list">
</dt><dd 
class="list">
<!--l. 165--><p class="noindent" >Programming  languages  and  software:  MatLab,  C,  C++,  C#,  OpenCL,  Python,  R,  CUDA,
XPPAUT.
</p></dd><dt class="list">
</dt><dd 
class="list">
<!--l. 166--><p class="noindent" >Course Delivery systems: Blackboard, WebAssign</p></dd></dl>
<!--l. 170--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-11000"></a>Professional Service</h3>
<!--l. 172--><p class="noindent" >Referee for papers submitted to Mathematical Biosciences, Journal of Neuroendocrinology, Journal of
Theoretical Biology, PlOS One.
</p><!--l. 175--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-12000"></a>Leadership</h3>
<!--l. 176--><p class="noindent" >
      </p><dl class="list1"><dt class="list">
05/17: </dt><dd 
class="list">
      <!--l. 177--><p class="noindent" ><span 
class="pplb9o-x-x-120">Co-organizer</span>, Minisymposium for SIAM Dynamical Systems conference, titled <span 
class="pplri9o-x-x-120">State and</span>
      <span 
class="pplri9o-x-x-120">Parameter Estimation in Models of Cellular Electrical Activity</span>.
      </p></dd><dt class="list">
03/11–08/15: </dt><dd 
class="list">
      <!--l. 178--><p class="noindent" ><span 
class="pplb9o-x-x-120">President, Vice-President, Treasurer</span>, Kiteboarding Association at FSU. Responsible for
      activities of the club including organization of club trips, competitions and community
      service events, budget request presentations, purchasing and negotiation with industry
      contacts for kiteboard equipment, instruction of beginners, and repairing equipment.
      </p></dd><dt class="list">
01/11–04/11: </dt><dd 
class="list">
      <!--l. 180--><p class="noindent" ><span 
class="pplb9o-x-x-120">Co-organizer of the Graduate Student Seminar</span>, FSU Mathematics Department. Select,
      organize and schedule speakers and participants for the graduate student run seminar.</p></dd></dl>
<!--l. 184--><p class="noindent" >
</p>
   <h3 class="likesectionHead"><a 
 id="x1-13000"></a>References</h3>
<!--l. 186--><p class="noindent" ><span 
class="pplb9o-x-x-120">Arthur Sherman</span><br 
class="newline" />Laboratory of Biological Modeling<br 
class="newline" />NIDDK, National Institutes of Health<br 
class="newline" />Bethesda, MD 20892<br 
class="newline" />E-mail: asherman@nih.gov
</p><!--l. 194--><p class="noindent" ><span 
class="pplb9o-x-x-120">Richard Bertram</span><br 
class="newline" />Department of Mathematics<br 
class="newline" />Florida State University<br 
class="newline" />Tallahassee, Florida 32306<br 
class="newline" />E-mail: bertram@math.fsu.edu
</p><!--l. 202--><p class="noindent" ><span 
class="pplb9o-x-x-120">Ed Moore</span><br 
class="newline" />Department of Cell and Physiological Sciences<br 
class="newline" />University of British Columbia<br 
class="newline" />Vancouver, BC, Canada<br 
class="newline" />E-mail: edmoore@mail.ubc.ca
</p>

